{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<center><h1> Login To HomeWork</h1></center>
{% if messages %}
    <ul class="messages"></ul>
        
        {% for message in messages  %}
        <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
{% endif %}
<form method="POST" id='login'>
    {% csrf_token %}
    <center>
    <h1>Welcome {{ user.first_name }}</h1>
    {% for field in form  %}
        <table class="table table-hover" style="width: 70%;">
        <tr>
        <td style="width: 50%;font-weight: bold;font-size: 17px;" class="text text-info">{{ field.label }}</td>
        <td>{{ field }}</td>
        <td>{{ field.errors }}</td>
    </tr>
    </table>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Login">&nbsp;&nbsp;<span class="h3">New Here.?</span><a href="{% url 'register' %}" class="btn btn-default">Sign Up</a>    
</center>
</form>    


{% endblock content %}



{% block script %}

<!-- <script src="{% static 'validation.js' %}"></script> -->

{% endblock script %}
    
