{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<center><h1> Sign Up To HomeWork</h1></center>
<center><p id="error" class="h4"></p></center>
<form action="#" method="POST" id="signup">
    {% csrf_token %}
    {% for field in form  %}
    <center>
      <table class="table table-hover" style="width: 80%;">     
        <tr>
        <td style="width: 50%;font-weight: bold;font-size: 17px;" class="text text-info">{{ field.label}}</td>
        <td>{{ field }}</td>
        <td>{{ field.errors }}</td>
      </tr>
  </table>

    {% endfor %}
       
    <button class="btn btn-primary" type="submit">Sign Up</button>&nbsp;&nbsp;<span class="h3">Already Have An account?</span><a href="{% url 'login' %}" class="btn btn-default">Log In</a>

</form>
</center>
{% endblock content %}

{% block script %}
<script src="{% static 'validation.js' %}"></script>
<!-- <script>
    $("#id_phone").change(function () {
      var phone = $(this).val();

      $.ajax({
        url: '/ajax/validate_phone/',
        data: {
          'phone': phone
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this Phone Number already exists.");
          }
        }
      });
    });
  </script> -->
{% endblock script %}
    
